<div class="container-fluid g-0">
    <main class="content">
      <div class="container-fluid">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre </th>
              <th>Opción </th>
              <th>Tipo de flujo de proceso </th>

              <!-- Agrega más encabezados de acuerdo a tus datos -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let flujoProceso of flujoProcesos">
              <td>{{ flujoProceso._id }}</td>
              <td>{{ flujoProceso.name }}</td>
              <td>{{ flujoProceso.opciones_id.type }}</td>
              <td>{{ flujoProceso.tipo_flujo_proceso_id.name }}</td>

              <!-- Muestra más datos aquí según la estructura de tus objetos -->
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <app-sidebar></app-sidebar>
  </div>
  